/*Funções de estilização*/
:root {
  --Font-Titulos: "Roboto", sans-serif;
  --Font-Corpo: "Poppins", sans-serif;
  --Cor-branca: #fdfdfd;
  --Cor-links: #8a0837;
  --Cor-vermelho-claro: #d94e73;
  --Cor-vermelho-suave: #a61b4e;
}

html {
  scroll-padding-top: 9rem;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.8rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #cecccc;
  border-radius: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Conteúdo do cabeçalho e tela principal*/
#conteudo-tela {
  width: 100%;
  font-family: var(--Font-Corpo);
  background: var(--Cor-branca);
}

#conteudo-principal {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#cabecalho #cabecalho-menu {
  height: 5.8rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 5rem;
  font-size: 1.05em;
  font-family: var(--Font-Titulos);
  font-weight: 700;
  border-bottom: 1px solid #d6d6d6;
  transition: all 0.6s;
}

#cabecalho #cabecalho-menu a {
  text-decoration: none;
  color: var(--Cor-links);
  transition: all 0.6s;
}

#cabecalho #cabecalho-menu a:visited {
  color: var(--Cor-links);
}

#cabecalho-centro {
  display: flex;
  gap: 10rem;
}

.menu-itens:hover {
  font-size: 1.4em;
  transition: all 0.5s;
}

#cabecalho-direita {
  display: flex;
  gap: 2rem;
  font-size: 1.4em;
  font-weight: 800;
}

#cabecalho-direita a:hover {
  font-size: 1.6em;
}

#img-hdr {
  width: 15rem;
}

#conteudo-escrito {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-touch-callout: none; /* iPhone OS, Safari */
  -webkit-user-select: none; /* Chrome, Safari 3 */
  -khtml-user-select: none; /* Safari 2 */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none; /* Possível implementação no futuro */
  /* cursor: default; */
}

#conteudo-img {
  width: 100%;
  height: 100%;
  background: url("/contents/imgs/imagemFundo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#conteudo-txt {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.8s;
}

#txt-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
}

#txt-title {
  font-size: 2em;
}

#txt-title span {
  color: var(--Cor-vermelho-suave);
}

#txt-content h4 {
  font-size: 1.3rem;
  font-style: italic;
}

#txt-body {
  width: 90%;
  flex-wrap: wrap;
  font-size: 1.5rem;
}

#btn {
  cursor: pointer;
  color: #eceaea;
  font-size: 1.7rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  padding: 1rem;
  transition: all 0.5s;
  background: var(--Cor-links);
}

#btn:hover {
  font-size: 1.9rem;
  padding: 1.2rem;
}

#conteudo-portfolio {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#conteudo-portfolio h2 {
  font-family: var(--Font-Titulos);
  font-size: 3rem;
  padding-bottom: 2rem;
}

#portfolio-produtos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 600;
}

.card-item .preco p span {
  text-decoration: line-through;
}

.item {
  width: 20rem;
  cursor: pointer;
}

.preco {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-item .preco button {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem;
  border: none;
  border-radius: 20px;
}

#conteudo-sobre {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#conteudo-sobre h2 {
  font-family: var(--Font-Titulos);
  font-size: 3rem;
  padding-bottom: 2rem;
}

#sobre-apresentacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

#sobre-apresentacao h4 {
  font-style: italic;
}

#conteudo-sobre p {
  padding-top: 5rem;
  text-align: center;
  
}

#img-sobre {
  width: 10rem;
  border-radius: 100%;
}

#rodape{
  border-top: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-footer {
  width: 20rem;
}
