:root {
  --Font-Titulos: "Roboto", sans-serif;
  --Font-Corpo: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--Font-Corpo);
}

#img-hdr {
  width: 10rem;
}

#img-tela {
  width: 40rem;
}

#img-footer {
  width: 20rem;
}

.item {
  width: 100px;
}

#img-sobre {
  width: 10rem;
  border-radius: 100%;
}
